<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747497932205-rklrpn9nc6o21mq8qqmn1ohlra046bbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747497932205-rklrpn9nc6o21mq8qqmn1ohlra046bbk</string>
	<key>API_KEY</key>
	<string>AIzaSyB2ONaNoGnsjYOOcnfXZZwIxzb68V6sBA0</string>
	<key>GCM_SENDER_ID</key>
	<string>747497932205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nick.krasnitskiy.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-6a1b0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-6a1b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747497932205:ios:b680a78bc1c8745dad8d24</string>
</dict>
</plist>